@font-face{
    font-family: "Aller Bold";
    src: url(../fonts/Aller_Bd.ttf);
}

@font-face{
    font-family: "Aller Regular";
    src: url(../fonts/Aller_Rg.ttf);
}

@font-face{
    font-family: "Aller Light";
    src: url(../fonts/Aller_Lt.ttf);
}

@font-face{
    font-family: "Aller Itallic";
    src: url(../fonts/Aller_It.ttf);
}

body{
    font-family: "Aller Regular";
}

.clearfix {
    clear: both;
}

.clearfix:after {
    clear: both; 
    content: "";
    display: table; 
  }

.top-headerWrapper{
    background-color: #242424;
}

.innerWrapper{
   max-width: 58.75em;
   margin: 0px auto;
}

.top-headerWrapper .innerWrapper .logo{
   text-align: center;
   padding: 10px 0px;
}

.top-headerWrapper .innerWrapper .logo a:hover{
    opacity: 0.5;
 }

.top-headerWrapper .innerWrapper .login-register{
  text-align: center;
  line-height: 45px;
  float: left;
  width: 70%;
}

.login-register ul{
    font-family: 'Maven Pro', sans-serif; 
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: bold;
}

.login-register ul li{
    display: inline-block;
    width: auto;
    list-style: none;
}

.login-register ul li a{
    display: block;
    text-decoration: none;
    color: #7e7e7e;
}

.login-register ul li a:hover{
    opacity: 0.7;
}

.login-register ul .orSpan{
    color: #7e7e7e;
}

.top-headerWrapper .innerWrapper .search{
    width: 28.8507%;
    float: right;
    display: block;
    line-height: 45px;
    position: relative;
}

.top-headerWrapper .innerWrapper .search a{
    display: block;
    margin-left: 10px;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
 }

 .top-headerWrapper .innerWrapper .search a:hover{
     opacity: 0.7;
 }

.bottom-headerWrapper .showHide img{
    width : 40px;
}

.bottom-headerWrapper .innerWrapper .navigation-menu{
   text-align: center;
   display: none;
   line-height: 36px;
}

.navigation-menu ul{
    padding: 0px;
    margin: 0px;
}

.navigation-menu ul li{
    list-style: none;
    width: auto;
    display: block;
    border-bottom: 1px solid #eeeeee; 
}

.navigation-menu ul li a{
    text-decoration: none;
    display: block;
    color: #242424;
    /* font-weight: bold; */
    font-size: 18px;
}

.navigation-menu ul li a:hover{
    color: #57C5A0;
}

.bottom-headerWrapper .innerWrapper .nav-icon{
    display: none;
}

.nav-icon ul li span{
    display: block;
}

.advertWrapper .advertWrapper-photo{
   position: relative;
}

.advertWrapper .advertWrapper-photo .innerWrapper{
    padding: 0px 10px;

}

.advertWrapper .advertWrapper-photo .mainImage{
    width: 100%;
    height: 280px;
}

.advertWrapper-photo .details{
    position: absolute;
    top: 5.1843%;
    right: 0;
    width: 63.8958%;
}

.details h3{
    display: inline-block;
    line-height: 50px;
    background: #57c5a0;
    padding: 0px 10px;
    font-size: 13px;
    color: #ffffff;

}

.details h1{
    font-size: 22px;
    line-height: 20px;
    padding: 10px 0px;
    font-weight: normal;
}

.details h1 a{
    text-decoration: none;
    color: #242424;
}

.details h1 a:hover{
    opacity: 0.5;
}

.details p{
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 10px;
    color: #242424;
    line-height: 24px;
    font-family: 'maven pro';
}

.details ul {
    padding: 0px;
    margin: 0px;
}

.details ul li{
    list-style: none;
    float: left;
}

.details ul li:first-child{
    background: #fafaf9;
}

.details ul li a{
    text-decoration: none;
    display: block;
    margin: 0px 2px;
    padding: 0px 12px;
}

.details ul li a:hover{
    opacity: 0.5;
}

.details ul li img{

    width: 100%;
    line-height: 10px;
}

.advertWrapper-info{
    background-color: #2e2e2e;
}

.advertWrapper-info .info-slider .innerWrapper{
    width: 100%;
    background-color: #000000;
    height: 10px;
}

.advertWrapper-photo .details ul li{
    line-height: 30px;
    background-color: #ffffff;
    margin-right: 2px;
}

.advertWrapper-info .info-container ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.advertWrapper-info .info-container ul li{
    list-style: none;
    float: left;
    width: 20%;
}

.advertWrapper-info .info-container ul li a{
    text-decoration: none;
    color: #787878;
    display: block;
    padding: 0px 4px;
}

.advertWrapper-info .info-container ul li a:hover{
    opacity: 0.7;
    color: #ffffff;
}

.info-container ul li a span.active{
    color: #d5d5d5;
}

.advertWrapper-info .info-container ul li a p{
    font-size: 13px;
    color: #a0a0a0;
}

.advertWrapper-info .info-container ul li a span{
    font-size: 15px;
    line-height: 28px;
    color: #acacac;
    font-weight: bold;
}

.advertWrapper-info .info-slider .innerWrapper ul{
    padding: 0px;
    margin: 0px;
}

.advertWrapper-info .info-slider .innerWrapper ul li{
    list-style: none;
    float: left;
    background-color: #000000;
    width: 18.75%;
    height: 6px;
    margin: 2px 0px;
} 

.advertWrapper-info .info-slider .innerWrapper ul li+li{
    background-image: url(../images/seperator-li.png);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 4px;
}

.advertWrapper-info .info-slider .innerWrapper ul li.active{
    background-color:#57c5a0
}

.second-body-wrapper{
    background: #242424;
    padding: 25px 0px;
}

.wrapper-image{
    position: relative;
    text-align: center;
}

.wrapper-image .info-tag{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 15px;
    background-color: rgba(36, 36, 36, 0.85);
    color: #ffffff;
}

.productWrapper{
    padding: 10px;
    background-color: #ebe7df;
}

.productDisplay{
    background-color:#ebe7df;
    padding: 0px 10px;
}

.wrapper-image .info-tag:hover{
    background-color: rgb(0,0,0,0.5);
}

.productDisplay .title-part{
    width: 100%;
    text-align: center;
}

.title-part h2{
    font-size: 24px;
    color: #242424;
    line-height: 28px;
    font-family: 'maverik pro';
    font-weight: normal;
}

.title-part .showAll{
    margin: 10px 0px;
    border: 1px solid #bcb5a7;
    
}

.title-part .showAll a {
    text-decoration: none;
    display: block;
    padding: 9px 20px;
    font-size: 16px;
    color: #bcb5a7;
}

.title-part .showAll a:hover{
    color: #57c5a0;
}

.individual-display .display-part{
    text-align: center;
}

.display-part .item-product{
    position: relative;
    background-color: #ffffff;
    margin-bottom: 17px;
}

.individual-display .display-part a{
    display: block;
    text-decoration: none;
}

.individual-display .display-part a:hover{
    display: block;
    text-decoration: none;
    opacity: 0.7;
}

.individual-display .display-part a h3{
    line-height: 48px;
    border-top: 1px solid #cccccc;
    font-size: 15px;
    color: #242424;
}

.display-part a .price{
    position: absolute;
    left: 10px;
    bottom: 0;
    background-color: #57c5a0;
    line-height: 57px;
    font-size: 13px;
    width: 22.6666%;
    color: #ffffff;
    font-weight: bold;
}

.display-part a .on-sale{
    position: absolute;
    right: 10px;
    top: 0px;
    background-color: #242424;
    padding: 28px 0px;
    color: #ffffff;
    line-height: 15px;
    font-size: 13px;
    width: 22.6666%;
    font-family: 'Aller Bold';
}

.display-part a .out-stock{
    background-color: #f27e4b;
    font-size: 13px;
    padding: 21px 0px;
}


.info-content-section{
    margin: 26px 10px;
}

.info-left-mainWrapper .info-box{
    background-color: #dfdbd4;
    padding: 10px 18px 10px 10px;
    margin-bottom: 10px;
}

.info-box h2, .info-right-wrapper h2{
    font-size: 20px;
    font-family: 'maverik pro';
    margin-bottom: 10px;
    display: block;
}

.info-box h2 a, .info-right-wrapper h2 a {
    text-decoration: none;
    color: #242424;
    font-family: 'Aller Bold';
}

.info-box h2 a:hover, .info-right-wrapper h2 a:hover{
    opacity: 0.7;
}


.info-box p, .info-right-wrapper p{
    font-size: 11px;
    line-height: 20px;
}

.info-box span{
    font-size: 12px;
}

.info-right-wrapper{
    background-color: #dfdbd4;
    padding: 10px;
    float: left;
}

.info-right-wrapper h3{
    font-size: 14px;
}

.info-right-wrapper h3 a{
    text-decoration: none;
    color: #242424;
}

.info-right-wrapper h3 a:hover{
    opacity: 0.7;
}

.date-icon{
    float: left;
    width: 7.8260%;
    padding: 10px 12px;
    background: #57c5a0;
    text-align: center;
}

.content-info{
    float: left;
    width: 80.4711%;
    padding: 0px 3px;
}

.date-icon h4{
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.widget-container{
    display: block;
    background-color: #242424;
}

.wrapper-inside{
    margin: 0px 39px 0px 42px;
    color: #7d7d7d;
}

.wrapper-inside .container-text-wrapper{
    text-align: center;    
}

.container-text-wrapper .text-widget{
    margin-bottom: 30px;
    padding-top: 30px;
}

.container-text-wrapper .twitter-widget{
    margin-bottom: 30px;
}

.wrapper-inside .flicker-widget{
    text-align: center;
}

.widget-title{
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.container-text-wrapper p{
    line-height: 18px;
    font-size: 13px;
    color: #a4a4a4;
}

.widget-tweet{
    margin-bottom: 17px;
}

.widget-tweet .tweet-user a{
    color: #57c5a0;
    font-weight: bold;
    text-decoration: none;
}

.widget-tweet .tweet-user a:hover{
    opacity: 0.7;
}

.individual-wrapper{
    margin-bottom: 9px;
    margin-right: 0px;
    float: left;
}

.individual-wrapper ul{
    padding: 0px;
    margin: 0px;
} 

.individual-wrapper ul li{
    list-style: none;
    float: left;
    width: auto;
    margin-left: 5px;  
}

.individual-wrapper ul li:first-child{
    margin-left: 0px;
}

.share-container{
    display: block;
    background-color: #242424;
    border-top: 1px solid #141414;
}

.wrapper-inside .email{
    position: relative;
    margin: 15px 0px;
}

.email form a:hover{
        opacity: 0.7;
}

.wrapper-inside .email input{
    width: 92%;
    font-style: italic;
    font-size: 13px;
    line-height: 24px;
    padding: 10px;
    color: #7d7d7d;
    background-color: #2e2e2e;
    border: none;
}

.wrapper-inside .share-icon{
    padding: 0px 8px;
}

.wrapper-inside .share-icon ul li{
    list-style: none;
    float: left;
    margin: 5px 0px 15px 4px
}

.wrapper-inside .share-icon ul li:first-child{
    margin-left:0px
}

.wrapper-inside .share-icon ul li:first-child a{
    padding-left: 14px;
}

.wrapper-inside .share-icon ul li a{
    text-decoration: none;  
    display: block;
    background-color: #2e2e2e;
    padding: 8px 13px 0px 10px;
    line-height: 36px;
}

.wrapper-inside .share-icon ul li a:hover{
    opacity: 0.7;
}

.email form img{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(125,125,125,0.5);
    padding: 15px;
}

.footerWrapper{
    background-color: #2e2e2e;
    padding: 10px;
}

.copyright-details, .menu-option{
    text-align: center;
    font-size: 11px;
    color: #acacac;
}
.copyright-details{
    line-height: 16px;
}

.menu-option{
    padding: 10px 0px;
}

.copyright-details span{
    display: block;
}

.menu-option ul{
    padding: 0px;
    margin: 0px;
}

.menu-option ul li{
    list-style: none;
    line-height: 18px;
}

.menu-option ul li a{
    text-decoration: none;
    color: #acacac;
}

.menu-option ul li a:hover{
    color: #57c5a0;
}

/* Media Query for 768px */

@media only screen and (min-width:768px){
    .headerWrapper .innerWrapper{
        padding: 0px 10px;
    }
    
    .top-headerWrapper .innerWrapper .logo{
       float: left;
       padding: 12px 0px 13px 0px;

       vertical-align: middle;
    }

    .top-headerWrapper .innerWrapper .logo img{
        display: block;
    }

    .top-headerWrapper .innerWrapper .login-register-wrapper{
        width: 20.9375%;
        float: right;
        line-height: 45px;
    }
    
    .top-headerWrapper .innerWrapper .login-register{
        float: right;
        border-left: 1px solid #383838;
        border-right:1px solid #383838;
        width: 69.1542%;

    }
    
    .login-register ul{
    }
    
    .login-register ul li{
        padding: 0px;
    }
    
    .login-register ul li a{
        padding: 0px;
        font-size: 10px;
    }
   
    
    .top-headerWrapper .innerWrapper .search{
        width: 28.8507%;
        float: right;
        height: 45px;
    }

    .top-headerWrapper .innerWrapper .search a{
        position: static;
        display: inline-block;
        margin-left: 22px;
        transform: translate(0,0);
    }
    
   .nav-icon ul li span{
       display: none;
    }

    .details h1{
        font-size: 36px;
        line-height: 30px;
    }

    .details h3{
        line-height: 67px;
    }

    .advertWrapper .advertWrapper-photo .mainImage {
        height: 290px;
    }

    .advertWrapper-info .info-container{
        display: block;
    }

    .advertWrapper-info .info-container ul{
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    .advertWrapper-info .info-container ul li{
        list-style: none;
        float: left;
        width: 20%;
    }

    .advertWrapper-info .info-container ul li a{
        text-decoration: none;
        color: #787878;
        display: block;
        padding: 17px 19px 26px 19px;
    }

    .advertWrapper-info .info-container ul li a:hover{
        opacity: 0.7;
        color: #ffffff;
    }

    .info-container ul li a span.active{
        color: #d5d5d5;
    }


    .advertWrapper-info .info-container ul li a p{
        font-size: 13px;
    }

    .advertWrapper-info .info-container ul li a span{
        font-size: 15px;
        line-height: 28px;
    }

    .advertWrapper-photo .details{
        width: 45.8958%;
    }

    .advertWrapper-photo .details ul li{
        line-height: 40px;
    }

    .details p{
        font-size: 16px;
    }

    
    .advertWrapper-info .info-slider .innerWrapper ul{
        padding: 0px;
        margin: 0px;
    }

    .advertWrapper-info .info-slider .innerWrapper ul li{
        list-style: none;
        float: left;
        background-color: #000000;
        width: 18.75%;
        height: 6px;
        margin: 2px 4px 2px 0px;
    } 

    .advertWrapper-info .info-slider .innerWrapper ul li+li{
        background-image: url(../images/seperator-li.png);
        background-position: 0% 50%;
        background-repeat: no-repeat;
        padding-left: 4px;
    }

    .advertWrapper-info .info-slider .innerWrapper ul li.active{
        background-color:#57c5a0
    }

    .wrapper-image img{
        max-width: 100%;
    }
    .wrapper-image{
        float: left;
        width: 31.9148%;
        padding-left: 10px;
    }

    .wrapper-image:first-child{
        padding-left: 5px;
    }

    .info-left-mainWrapper .info-box{
        float: left;
        width: 38.77777%;
        margin: 5px 25px
    }

    .info-right-wrapper{
        float: right;
        width: 96%;
        margin-top: 4%;
    }

    .widget-title {
        text-align: left;
    }

    .wrapper-inside .container-text-wrapper{
        text-align: left;
    }

    .individual-wrapper ul li{
        margin-left: 8px;
    }

    .individual-wrapper{
        margin-right: 8px;
    }

    .share-container .innerWrapper .wrapper-inside{
        padding: 0px 10px;
    }

    .wrapper-inside .email{
        float: left;
        width: 29.0697%;
        margin: 36px 0px 45px 0px;
    }

    .wrapper-inside .email input{
        width: 100%;
        font-style: italic;
        font-size: 13px;
        line-height: 24px;
        padding: 10px;
        color: #7d7d7d;
        background-color: #2e2e2e;
        border: none;

    }

    .wrapper-inside .share-icon{
        float: right;
    }

    .wrapper-inside .share-icon ul{
        padding: 0px;
        margin: 0px;
    }

    .wrapper-inside .share-icon ul li{
        list-style: none;
        float: left;
        margin-left: 8px;
    }

    .wrapper-inside .share-icon ul li a{
        text-decoration: none;  
        display: block;
        background-color: #2e2e2e;
        padding: 8px 13px 0px 10px;
        line-height: 36px;
        margin: 36px 0px 45px 0px;
    }

    .wrapper-inside .share-icon ul li a:hover{
        opacity: 0.7;
    }
 
    .email form img{
        position: absolute;
        top: 0px;
        right: -20px;
        background-color: rgba(125,125,125,0.5);
        padding: 15px;
    }

    .copyright-details{
        float: left;
        text-align: left;
    }

    .menu-option{
        float: right;
    }

    .menu-option ul li{
        float: left;
        padding-right: 4px;
    }

    .menu-option ul li+li{
        background-image: url(../images/seperator.png);
        background-repeat: no-repeat;
        padding-left: 9px;
        background-position: 0 50%;
    }

}


/* media query for 1024 */
@media only  screen and (min-width : 1024px){
    .headerWrapper{
    }
    .headerWrapper .innerWrapper{
        padding: 0px 10px;
    }

    .innerWrapper{
        padding: 0px 10px;
    }
    
    .top-headerWrapper .innerWrapper .logo{
       float: left;
       padding: 12px 0px 13px 0px;

       vertical-align: middle;
    }

    .top-headerWrapper .innerWrapper .logo img{
        display: block;
    }

    .top-headerWrapper .innerWrapper .login-register-wrapper{
        width: 21.3829%;
        float: right;
        line-height: 45px;
    }
    
    .top-headerWrapper .innerWrapper .login-register{
        float: right;
        border-left: 1px solid #383838;
        border-right:1px solid #383838;
        width: 69.1542%;

    }
        
    .login-register ul li{
        padding: 0px;
    }
    
    .login-register ul li a{
        padding: 0px;
        font-size: 11px;
    }
    
    .top-headerWrapper .innerWrapper .search{
        width: 29.8507%;
        float: right;
        display: block;
        height: 45px;
    }

    .bottom-headerWrapper .showHide{
        display: none;
    }
    
    .bottom-headerWrapper .innerWrapper .navigation-menu{
        float: left;
        display: block;
        line-height: 60px;
        width: 59.1489%
    }
    
    .navigation-menu ul{
        padding: 0px;
        margin: 0px;
    }

    .navigation-menu ul li:first-child{
        border-left: 1px solid #eeeeee;
    }

    .navigation-menu ul li:last-child{
        border-right: 1px solid #eeeeee;
    }

    .navigation-menu ul li{
        list-style: none;
        float: left;
        width: auto;
        border-left: 1px solid #eeeeee;
        border-bottom: 0px;
    }
    
    .navigation-menu ul li a{
        display: block;
        padding: 0px 16px;

    }
    
    .bottom-headerWrapper .innerWrapper .nav-icon{
        float: right;
        display: block;
    }

    .nav-icon ul{
        padding: 0px;
        margin: 0px;
    }

    .nav-icon li{
        float: left;
        width: auto;
        list-style: none;
        border-right: 1px solid #cccccc;
    }

    .nav-icon li:first-child{
        border-left: 1px solid #cccccc;
    }

    .nav-icon li:last-child{
        border-right: 1px solid #cccccc;
    }

    .nav-icon li a {
        display: block;
        text-decoration: none;
        padding: 0px 22px;
        color: #ffffff;
    }

    .nav-icon li a:hover{
        opacity: 0.7;
    }

    .nav-icon .starImage{
        background-image: url(../images/star.png);
        background-repeat: no-repeat;
        background-position: 0px 22px;
        height: 16px;
        width: 16px;
        display:block;
        float: left;
        padding: 35px 0px 0px 0px;
    }

    .nav-icon .number{
        float: left;
        padding: 0px 4px;
        background-color: #adadad;
    }

    .nav-icon active{
        background-color: #57c5a0;
    }

    .nav-icon .shoppingImage{
        background-image: url(../images/shopping.png);
        background-repeat: no-repeat;
        background-position: 0px 21.5px;
        height: 13px;
        width: 16px;
        display:block;
        float: left;
        padding: 35px 4px 0px 4px;
    }

    .nav-icon ul li a span.number{
        background-color: #57c5a0;
        margin: 19px 8px;
        padding: 5px 6px; 
        font-size: 9px;
        border-radius: 2px;
    }

    .nav-icon ul li a span.active{
        background-color: #adadad;
    }

    .advertWrapper .advertWrapper-photo img{
        width: 100%;
        height: 100%;
    }

    .nav-icon ul li span{
        display: block;
     }

     .advertWrapper-photo .details{
        height: 40px;
        position: absolute;
        top: 13.1843%;
        right: 16.8333%;
        margin-right: 47px;
    }

    .advertWrapper-info .info-container ul li:last-child{
        display: block;
    }

    .advertWrapper .advertWrapper-photo .mainImage{
        height: 100%;
    }

    .advertWrapper-photo .details{
        width: 27.8958%;
    }

    .advertWrapper-info .info-container ul li a{
        padding: 17px 17px 26px 23px;
    }

    .details h2{
        font-size: 38px;
        line-height: 43px;
    }

    .details p{
        font-size: 14px;
        line-height: 19px;
        font-family: 'maven pro'
    }

    .wrapper-image:first-child{
        padding: 0px;
    }

    .wrapper-image{
        width: 31.9148%;
        padding-left: 20px;
    }

    .productDisplay{
        padding: 0px;
    }

    .productDisplay .title-part{
        text-align: left;
    }

    .title-part h2{
        float: left;
        line-height: 87px;

    }

    .title-part .showAll{
        float: right;
        margin: 28px 0px;
    }

    .productWrapper{
        padding: 0px;
    }

    .display-part .item-product{
        float: left;
        width: 31.9148%;
        margin-left: 20px;
        margin-bottom: 0px;
    }

    .display-part .item-product:first-child{
        margin-left:0px;
    }

    .display-part-last-child{
        padding-bottom: 47px;
        border-bottom: 1px solid #bcb5a7;
    }

    .info-left-mainWrapper{
        width: 51.0638%;
        float: left;
    }

    .info-content-section .info-right-wrapper{
        width: 42.4468%;
        float: right;
        padding: 33px 44px 19px 17px;
        margin: 25px 0px 23px 0px;
    }

    .info-content-section{
        margin: 0px;
    }

    .info-left-mainWrapper .info-box{
        margin: 0px;
        padding: 33px 28px 33px 15px;
        width: 36.875% ;
        margin: 26px 20px 23px 0px;
    }

    .info-left-mainWrapper .info-box span{
        display: block;
        padding-top: 6px;
    }

    .widget-container{
        display: block;
        background-color: #242424;
    }

    .wrapper-inside{
        margin: 0px 39px 0px 42px;
        color: #7d7d7d;
    }

    .wrapper-inside .container-text-wrapper{
        width: 71.4784%;
    }

    .container-text-wrapper .text-widget{
        width: 41.0423%;
        float: left;
        margin-right: 50px;
        margin: 52px 50px 57px 0px;
        padding-top: 0px;

    }

    .container-text-wrapper .twitter-widget{
        width: 41.0423%;
        float: left;
        margin-right: 60px;
        margin: 52px 60px 32px 0px;
    }

    .wrapper-inside .flicker-widget{
        width: 28.5215%;
        float: right;
        
    }

    .widget-title{
        font-size: 20px;
        margin-bottom: 25px;
    }

    .container-text-wrapper p{
        line-height: 18px;
        font-size: 13px;
        color: #a4a4a4;
    }

    .widget-tweet{
        margin-bottom: 17px;
    }

    .widget-tweet .tweet-user a{
        color: #57c5a0;
        font-weight: bold;
        text-decoration: none;
    }

    .widget-tweet .tweet-user a:hover{
        opacity: 0.7;
    }

    .twitter-widget .widget-tweet p{
        margin-bottom: 12px;
    }

    .individual-wrapper{
        margin-bottom: 9px;
        margin-right: 0px;
    }

    .individual-wrapper ul{
        padding: 0px;
        margin: 0px;
    } 

    .individual-wrapper ul li{
        margin-left: 8px;      
    }

    .individual-wrapper ul li:first-child{
        margin-left: 0px;
    }

    .flicker-widget{
        margin: 51px 0px 32px 0px;
    }

    .share-container .innerWrapper .wrapper-inside{
        padding: 0px;
    }

    .footerWrapper{
        padding: 0px;
    }
    
    .menu-option{
        padding: 35px 0px 36px 0px;
    }

    .copyright-details{
        margin: 0px;
        margin:0px;
        line-height: 18px;
        padding:25px 0px 28px 0px;
    }

    .info-right-wrapper .bolg-container{
        margin-bottom: 14px;
    }

    .widget-tweet span{
        color: #c4c5bf;
    }

    .widget-tweet .font-style{
        font-size: 13px;
        color: #bcbdb7;
        font-weight: bold;
    }

    .bottom-headerWrapper .innerWrapper .navigation-menu{
        display: block;
    }
}




